body {
  font-family: var(--font-body);
  color: var(--text-dark);
  background-color: var(--bg-color);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.logo {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.1rem;
}