body {
  font-family: var(--font-body);
  color: var(--text-dark);
  background-color: var(--bg-color);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}