body {
  font-family: var(--font-body);
  color: var(--text-dark);
  background-color: var(--bg-color);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.logo {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.1rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-dark);
  margin-left: 2rem;
  font-size: 0.9rem;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

.nav-links a:hover {
  opacity: 0.7;
  color: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Intro-content h1 {
  font-family: var(--font-heading);
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 8rem;
}

.Intro-section {
    background-image: url(/images/roll.jpg); 
    background-size: cover; 
    background-position: center;   
    background-repeat: no-repeat; 
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 4%;
    }  

.btn-primary {
  display: inline-block;
  padding: 0.8rem 2rem;
  border: 5px solid;
  border-radius: 5px;
  color: var(--text-dark);
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  opacity: 0.7;
  background-color: whitesmoke;
  color: blue;
}

.portfolio-section {
  padding: 6rem;
}

h2 {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 13fr));
  gap: 2rem;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


